* {
  width: auto;
  height: auto;
  box-sizing: border-box;
}

body {
  background-color: black;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  margin: 150px;
  left: 0;
  top: 0;
  width: 80%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.container {
  padding: 80px 10px 10px;
}

.form-label{
  /* color: aliceblue; */
  font-size: 20px;
}

.btn {
  float: right;
}

/* add data from the tester */

.valide {
  background-color: #5BE881;
}
.rejected {
  background-color: #FF0000;
}
.non-validation {
  background-color: #FDB64D;
}
